/* Label for each view in the CPU Debugger */
.viewLabel {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

/* Monospaced text */
.monospaced {
    -fx-font-size: 10pt;
    -fx-font-family: monospace
}
